
body {
  /* background-color: #121212; */
  background-color: #780606 ;
  color: #e0e0e0;
  font-family: sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  /* background-color: #1e1e1e; */
  background-color: #f8f9fa;
  color: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 20px; */
}

.left-panel {
  display: flex;
  flex-direction: column;
  /* gap: 20px;
  margin-left: 12%; */
}

.right-panel {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* #pic{
    width: 200px; 
    height: 200px;
} */